############################
# Go build artifacts
############################
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

############################
# Go modules
############################
/vendor/

############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# Logs
############################
*.log
logs/
tmp/

############################
# Database & migrations
############################
*.db
*.sqlite
*.sqlite3

############################
# Docker
############################
docker-data/
.pgdata/
postgres-data/
**/data/

############################
# IDE / Editor
############################
.vscode/
.idea/
*.swp

############################
# OS specific
############################
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# MacOS
.DS_Store

############################
# Te
.vercel
